#outside {
  z-index: 1;
  position: absolute;
  background-color: green;
  width: 100%;
  height: 99%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  font-family: Courier;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

#outside-pic {
   max-width:45%;
  max-height:40%;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 16pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: orange;
  width: 100%;
  height: 98%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}

#inside-pic {
  width: 50px;
  height: 150px;
}

#message {
  color: black;
  font-family: Courier;
  font-size: 14pt;
  text-align: center;
}

button {
  background: silver;
}